{% extends 'frontbase.html.twig' %}

{% block title %} PRODUCT {{ data[0].title }} {% endblock %}
{% block keyword %} {{ data[0].keyword }} {% endblock %}
{% block description %} {{ data[0].description }} {% endblock %}
{% block sidebar %} {{ include ('home/sidebar.html.twig') }} {% endblock %}

{% block content %}


<div class="product-information"><!--/product-information-->
							
								<img src="images/product-details/new.jpg" class="newarrival" alt="">
							<form class="form-horizantal qtyfrm" action="{{path('shopcart_new')}}" method="post">
								<h2>ÜRÜN DETAYI</h2>
								
								<img src="{{ asset('uploads')}}/images/{{data[0].image }}" alt="">
								<span>
									<span>Fiyatı {{ data[0].sprice }}</span>
									<label>Quantity:</label>
									<input type="number" name="shopcart[quantity]" value="1" max="{{data[0].amount}}">
									<input type="hidden" name="shopcart[productid]" value="{{data[0].id}}">
									<button type="submit" class="btn btn-fefault cart">
										<i class="fa fa-shopping-cart"></i>
										Add to cart
									</button>
								</span>

								<p><b>Title:</b> {{ data[0].title }}</p>
								<p><b>Description:</b>{{ data[0].description }}</p>

								<p><b>Stok:</b> {{ data[0].amount }}</p>

								<div id="similar-product" class="carousel slide" data-ride="carousel">
								
								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										
										{% for rs in images %}
										<div class="item">
										  
										  <a href=""><img src="{{ asset('uploads')}}/images/{{	rs.image }}" alt=""></a>
										</div>
										{% endfor %}
										<div class="item active">
										 
										  <a href=""><img src="{{ asset('uploads')}}/images/{{data[0].image }}" alt=""></a>
										</div>
										
									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>

									<input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >
							</div>


		
							</div>
							</form>

							 <script src="js/jquery.js"></script>
	<script src="js/price-range.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>


{% endblock %}
