

 <form role="form" method="post">
                                        <div>
                                             <select name="category[parentid]" class="form-control">
                                                 <option>{{ category.parentid }}</option>
                                                <option value="0">Ana Kategori</option>
                                                {% for cat in catlist %}
                                                <option value="{{ cat.id }}">{{ cat.title }}</option>
                                                {% endfor %}
                                               </select>
                                               </div>
                                        <div class="form-group has-warning">
                                            <label class="control-label" for="inputSuccess">Title</label>
                                            <input type="text" name="category[title]" value="{{ category.title }}" class="form-control" id="inputWarning">
                                        </div>
                                        <div class="form-group has-error">
                                            <label class="control-label" for="inputSuccess">Keywords</label>
                                            <input type="text" name="category[keyword]" value="{{ category.keyword }}" class="form-control" id="inputError">
                                        </div>
                                        <div>
                                             <label class="control-label" for="inputSuccess">Description</label>
                                            <input type="text" name="category[description]" value="{{ category.description }}" class="form-control" id="inputError">
                                            </div>
                                            <br>
                                            <div>
                                             <select name="category[status]" class="form-control">
                                                 <option>{{ category.status }}</option>
                                                <option>true</option>
                                                <option selected>false</option>
                                               </select>
                                               </div>
                                            <br>
                                            <button type="submit" class="btn btn-primary">Kaydet</button>
                                    </form>

